
<h1>Biblioteca Municipal</h1>
<nav>
    <ul>
        <li><a href="home">Inicio</a></li>
        <li><a href="catalogo">Catálogo</a></li>
        <li><a href="GestionL">Servicios</a></li>
        <li><a href="contacto">Contacto</a></li>
    </ul>
</nav>


<section id="intro">
<h2>Bienvenido a la Biblioteca Municipal</h2>
<p>Descubre un mundo de conocimiento, imaginación y entretenimiento en nuestra biblioteca. Ofrecemos una amplia selección de libros, revistas, actividades y servicios para toda la comunidad.</p>
<a href="#catalogo" class="btn">Explora nuestro catálogo</a>
</section>

<section id="catalogo">
<h2>Catálogo</h2>
<p>Explora nuestra colección de libros, revistas y otros materiales disponibles para préstamo.</p>
<!-- Aquí puedes incluir una galería de imágenes de algunos libros destacados -->
</section>